html {
  scroll-behavior: smooth;
}


.f{
    /* The image used */
    background-image: url(img/f_vac.jpg);
 
    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wil{
    /* The image used */
    background-image: url(img/wild.jpg);
 
    /* Set a specific height */
    min-height: 500px; 

     
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




 .r{
    /* The image used */
    background-image: url(img/rom.jpg);

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.l{
    /* The image used */
    background-image: url(img/leis.jpg);

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.m{
    /* The image used */
    background-image: url(img/mon.jpg);

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.her{
    /* The image used */
    background-image: url(img/heritage.jpg);

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bea{
    
    background-image: url(img/bea.jpg);

   
    min-height: 500px; 

   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.adv{
 
    background-image: url(img/yo.jpg);

    
    min-height: 500px; 


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
    cursor: pointer;
   margin-top:50px;
   margin-bottom: 50px;

    transition: .5s ease;

    margin-left: 600px;
}


.button3 {
    background-color: black; 
    color: white; 
    border: 2px solid #f44336;


}


.info-list{
	font-family: 'Rancho',serif;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 1.8rem;
	 padding-right: 2rem;
         padding-left: 2rem;
}

h1 {
font-size: 5rem;
font-family: neon;
}

 .header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {

  overflow: hidden;
  background-color: black;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: red;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

